*.out
*.bin
*.list
*.particles
profile.[0-9]
*.gz
*.tar
**/catalogs/*
*/halo_catalogs/*
*/rockstar_halos/*
halo_catalogs/*
rockstar_halos/*
*ipynb_checkpoints*
*/\.ipynb_checkpoints/*
*__pycache__*
bigbox_25Mpc/data/*
bigbox_25Mpc/imgs/*